[submodule "daemon/winsw"]
	path = daemon/winsw
	url = https://github.com/winsw/winsw.git
	branch = v3
[submodule "tunnel/tools/amneziawg-tools"]
	path = tunnel/tools/amneziawg-tools
	url = https://github.com/amnezia-vpn/amneziawg-tools
