<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zaneschepke.wgtunnel.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/WireGuard AutoTunnel.app/Contents/MacOS/wgtunnel</string>
        <string>_run</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Logs/wgtunnel/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/wgtunnel/stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>WG_TUNNEL_SERVICE</key>
        <string>1</string>
        <key>HOME</key>
        <string>/Library/Application Support/wgtunnel</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Library/Application Support/wgtunnel</string>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>ExitTimeOut</key>
    <integer>30</integer>
</dict>
</plist>