[Unit]
Description=__APP_DISPLAY__ Daemon
Documentation=https://wgtunnel.com
Before=network.target network-pre.target
Wants=network.target
After=local-fs.target
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
Restart=always
RestartSec=1s
ExecStart=@/opt/__APP_FSNAME__/bin/daemon wgtunnel-daemon
Type=exec
StandardOutput=journal
StandardError=journal
Environment=WG_TUNNEL_SERVICE=1
Environment=HOME=%S/__APP_FSNAME__
WorkingDirectory=/opt/__APP_FSNAME__
UMask=0000
ProtectSystem=true
StateDirectory=__APP_FSNAME__
LogsDirectory=__APP_FSNAME__
ConfigurationDirectory=__APP_FSNAME__
RuntimeDirectory=__APP_FSNAME__
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=restart
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_DAC_OVERRIDE
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
KillSignal=SIGTERM
TimeoutStopSec=30
ReadWritePaths=/run/__APP_FSNAME__ /etc/resolv.conf /var/lib/__APP_FSNAME__ /home -/run/systemd/resolve -/run/systemd/resolve/stub-resolv.conf -/run/systemd/resolve/resolv.conf

[Install]
WantedBy=multi-user.target
